Source: ros-jade-ar-track-alvar-msgs
Section: misc
Priority: extra
Maintainer: Scott Niekum <sniekum@cs.umass.edu>
Build-Depends: debhelper (>= 9.0.0), ros-jade-catkin, ros-jade-geometry-msgs, ros-jade-message-generation, ros-jade-std-msgs
Homepage: http://ros.org/wiki/ar_track_alvar
Standards-Version: 3.9.2

Package: ros-jade-ar-track-alvar-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jade-geometry-msgs, ros-jade-message-runtime, ros-jade-std-msgs
Description: This package is a ROS wrapper for Alvar, an open source AR tag tracking library.
